{% extends "layouts/main.html" %}

{% block pageTitle %}
Compare Configuration - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back to dashboard",
href: "/dashboard"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Compare configurations</h1>

        <p class="govuk-body">
            Differences between your <strong>Integration</strong> environment (Draft) and <strong>Production</strong>
            environment.
        </p>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Configuration</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Integration (Draft)</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Production</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

                {# Service Name #}
                <tr
                    class="govuk-table__row {% if data['clientName'] != data['prod_serviceName'] %}govuk-table__row--selected{% endif %}">
                    <th scope="row" class="govuk-table__header">Service name</th>
                    <td class="govuk-table__cell">
                        {{ data['clientName'] }}
                        {% if data['clientName'] != data['prod_serviceName'] %}
                        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-left-2">Changed</strong>
                        {% endif %}
                    </td>
                    <td class="govuk-table__cell">{{ data['prod_serviceName'] }}</td>
                    <td class="govuk-table__cell">
                        <a href="/create-service/enter-client-name" class="govuk-link">Edit</a>
                    </td>
                </tr>

                {# Redirect URLs #}
                <tr
                    class="govuk-table__row {% if data['redirectUrls'] != data['prod_redirectUrls'] %}govuk-table__row--selected{% endif %}">
                    <th scope="row" class="govuk-table__header">Redirect URLs</th>
                    <td class="govuk-table__cell">
                        <code class="govuk-!-font-size-16">{{ data['redirectUrls'] }}</code>
                        {% if data['redirectUrls'] != data['prod_redirectUrls'] %}
                        <br><strong class="govuk-tag govuk-tag--yellow govuk-!-margin-top-1">Changed</strong>
                        {% endif %}
                    </td>
                    <td class="govuk-table__cell"><code
                            class="govuk-!-font-size-16">{{ data['prod_redirectUrls'] }}</code></td>
                    <td class="govuk-table__cell">
                        <a href="/create-service/redirect-urls" class="govuk-link">Edit</a>
                    </td>
                </tr>

                {# Public Key Type #}
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Auth Method</th>
                    <td class="govuk-table__cell">{{ data['publicKeyType'] }}</td>
                    <td class="govuk-table__cell">{{ data['prod_publicKeyType'] }}</td>
                    <td class="govuk-table__cell">
                        <span class="govuk-hint">Locked</span>
                    </td>
                </tr>

                {# Client ID #}
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Client ID</th>
                    <td class="govuk-table__cell">{{ data['clientId'] }}</td>
                    <td class="govuk-table__cell">{{ data['prod_clientId'] }}</td>
                    <td class="govuk-table__cell">
                        <span class="govuk-hint">System</span>
                    </td>
                </tr>

            </tbody>
        </table>

        {{ govukInsetText({
        text: "Some settings available in Integration (like Auth Method) are locked in Production to prevent service
        downtime. Contact support to change these."
        }) }}

    </div>
</div>
{% endblock %}