{% extends "layouts/main.html" %}

{% block pageTitle %}
Team members - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back to dashboard",
href: "/dashboard"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Team members</h1>

        {{ govukButton({
        text: "Invite team member",
        href: "/team/invite"
        }) }}

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Current team members</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Email address</th>
                    <th scope="col" class="govuk-table__header">Role</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for member in data['teamMembers'] %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ member.email }} {% if member.you %}(you){% endif %}</td>
                    <td class="govuk-table__cell">{{ member.role }}</td>
                    <td class="govuk-table__cell">
                        {% if not member.you %}
                        <a href="/team/remove/{{ loop.index0 }}" class="govuk-link">Remove</a>
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3">No team members found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}