{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-xl">
      Check your answers
    </h1>

    {% set summaryListRows = [] %}

    {% set summaryListRows = (summaryListRows.push({
    key: { text: "Service name" },
    value: { text: data['clientName'] },
    actions: { items: [{ href: "/create-service/enter-client-name", text: "Change", visuallyHiddenText: "service name"
    }] }
    }), summaryListRows) %}

    {% set summaryListRows = (summaryListRows.push({
    key: { text: "Authentication method" },
    value: { text: data['publicKeyType'] },
    actions: { items: [{ href: "/create-service/select-key-type", text: "Change", visuallyHiddenText: "authentication
    method" }] }
    }), summaryListRows) %}

    {% if data['publicKeyType'] === 'Client secret' %}
    {% set summaryListRows = (summaryListRows.push({
    key: { text: "Client secret" },
    value: { text: data['clientSecret'] },
    actions: { items: [{ href: "/create-service/select-key-type", text: "Change", visuallyHiddenText: "client secret" }]
    }
    }), summaryListRows) %}
    {% endif %}

    {% if data['publicKeyType'] === 'Fixed public key' %}
    {% set summaryListRows = (summaryListRows.push({
    key: { text: "Fixed public key" },
    value: { text: data['staticKey'] },
    actions: { items: [{ href: "/create-service/select-key-type", text: "Change", visuallyHiddenText: "fixed public key"
    }] }
    }), summaryListRows) %}
    {% endif %}

    {% set summaryListRows = (summaryListRows.push({
    key: { text: "Redirect URLs" },
    value: { html: data['redirectUrls'] | replace(',', '<br>') | safe },
    actions: { items: [{ href: "/create-service/redirect-urls", text: "Change", visuallyHiddenText: "redirect URLs" }] }
    }), summaryListRows) %}

    {% set summaryListRows = (summaryListRows.push({
    key: { text: "Scopes" },
    value: { text: data['selectedScopes'] | join(', ') if data['selectedScopes'] else 'None' },
    actions: { items: [{ href: "/create-service/select-scopes", text: "Change", visuallyHiddenText: "scopes" }] }
    }), summaryListRows) %}

    {{ govukSummaryList({
    rows: summaryListRows
    }) }}

    <h2 class="govuk-heading-m">Now create your service</h2>

    <form action="/confirmation" method="post" novalidate>

      <div class="govuk-button-group">
        {{ govukButton({
        text: "Create service"
        }) }}

        {{ govukButton({
        text: "Add identity journey configuration",
        classes: "govuk-button--secondary"
        }) }}

        {{ govukButton({
        text: "Add additional configuration",
        classes: "govuk-button--secondary"
        }) }}
      </div>

    </form>

  </div>
</div>
{% endblock %}