{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/service-setup/task-list" method="post">

      {{ govukTextarea({
      name: "redirectUrls",
      id: "redirect-urls",
      label: {
      text: "Redirect URLs",
      classes: "govuk-label--l",
      isPageHeading: true
      },
      hint: {
      text: "Enter the URLs where users will be sent after signing in. Separate multiple URLs with a comma."
      }
      }) }}

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}