{% extends "layouts/main.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "/"
},
{
text: "Create a service"
}
]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p>Use this service to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>create a configuration for your service</li>
      <li>get a unique Client ID</li>
      <li>set up your redirect URLs and scopes</li>
    </ul>

    <p>Registering takes around 5 minutes.</p>

    {{ govukButton({
    text: "Start now",
    href: "/create-service/enter-client-name",
    isStartButton: true
    }) }}

    <h2 class="govuk-heading-m">
      Before you start
    </h2>

    <p>
      You will need:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a government email address</li>
      <li>a mobile phone</li>
    </ul>

  </div>
</div>

{% endblock %}