{% extends "layouts/main.html" %}

{% block pageTitle %}
Sign in - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Sign in</h1>

        <form action="/sign-in" method="post" novalidate>

            {{ govukInput({
            label: {
            text: "Email address",
            classes: "govuk-label--m"
            },
            hint: {
            text: "Enter your government email address (for example, name@dept.gov.uk)"
            },
            id: "email",
            name: "email",
            type: "email",
            autocomplete: "email",
            spellcheck: false,
            value: data['email'],
            errorMessage: errors['email']
            }) }}

            {{ govukButton({
            text: "Sign in"
            }) }}

        </form>

        <p class="govuk-body">
            <a class="govuk-link" href="#">Problems signing in?</a>
        </p>

    </div>
</div>
{% endblock %}